/* Front Style Open Sans */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Styles */

.secondary-bg {
  background: rgb(255, 248, 243);
}
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}

.btn-primary {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  width: 150px;
  height: 64px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border: none;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
}

/* Header Styles */

.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner Styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}

.banner-greetings {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-title {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-description {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.banner-profile-picture {
  width: 584px;
  height: 676px;
}

/* About Styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-sec {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  padding: 0 10px;
}

.about-items {
  display: flex;
  justify-content: space-between;
}

/* What I do Section */

.ski-des {
  padding: 10px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px 33px;
}

/* Resume Design */

/* .resume-column*2>h3.resume-column-title+.experience*3>h4.experience-title+h5.experience-sub-title+p.experience-description */

.resume-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
/* .resume-column {
  width: 511px;
  height: 175px;
  left: 812px;
  right: 277px;
  top: 2604px;
  bottom: 1477px;
} */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
}
.experience-title {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}
.experience-sub-title {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.experience-desription {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.resume-download-cv{
  margin-top: 50px;
}

/* Footer Design */

footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
width: 100%;
height: 64px;
border-radius: 5px;
background: rgb(255, 255, 255);
display: block;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
}
